.menubar1
{
    position: absolute;
 	width: 650px;
 	height: 350px;
 	top: 200px;
 	left: 500px;
 	background-color: #A9A9A9;
 	border-radius: 10px;
 	padding: 1px 10px;
 	opacity: 0.8;
 	font-family: Cooper Black;
    font-size: 25px;
    color: #8B0000;

}
.menubar2
{
    position: absolute;
 	width: 250px;
 	height: 250px;
 	top: 5px;
 	left: 10px;
 	background-color: #8B0000;
 	border-radius: 200px;
 	padding: 10px 10px;
}
.menubar3
{
    position: absolute;
 	top: 5px;
 	left: 5px;
 	background-color:  #8B0000;
 	border-radius: 200px;
 	width: 250px;
 	height: 250px;

}
.menubar4
{
    position: absolute;
 	width: 285px;
 	height: 440px;
 	top: 180px;
 	left: 940px;
 	background-color: white;
 	border-radius: 10px;
 	padding: 10px 10px;
}
.menubar5
{
    position: absolute;
 	width: 870px;
 	height: 440px;
 	top: 180px;
 	left: 30px;
 	background-color: white;
 	border-radius: 10px;
 	padding: 10px 10px;
}
.menubar6
{
    position: absolute;
 	width: 150px;
 	height: 150px;
 	top: 70px;
 	left: 350px;
 	background-color: gray;
 	border-radius: 10px;
 	padding: 10px 10px;
}
.menubar7
{
    position: absolute;
 	width: 130px;
 	height: 130px;
 	top: 10px;
 	left: 10px;
 	background-color: white;
 	border-radius: 10px;
 	padding: 10px 10px;
}
.div
{
	position: absolute;
 	width: 1150px;
 	height: 520px;
 	top: 120px;
 	left: 70px;
 	background-color:#8B0000;
 	border-radius: 8px;
 	padding: 10px 10px;
}
.div2
{
	position: absolute;
 	width: 1235px;
 	height: 480px;
 	top: 160px;
 	left: 10px;
 	background-color: #8B0000;
 	border-radius: 8px;
 	padding: 10px 10px;
}
.box 
{
 width:250px;
 height:40px;
 font-family: Times New Roman;
 font-size: 20px;
 color: white;
 background-color: #8B0000;
 border-radius: 10px;

 }
 .box1 
{
 width:250px;
 height:40px;
 font-family: Times New Roman;
 font-size: 20px;
 background-color: #8B0000;
 border-radius: 10px;
 color: white;
 }
 .box2
{
 width:250px;
 height:40px;
 font-family: Times New Roman;
 font-size: 20px;

 }

 .signup >a
 {
 position: absolute;
 background-color:  #8B0000;
 top: 80px;
 left: 1130px;
 width:90px;
 height:30px;
 font-family: Times New Roman;
 font-size: 20px;
 padding: 1px 0px 1px 10px;
 text-decoration: none;
 color: white;
 
 }
 .signin >a
 {
 position: absolute;
 background-color:  #8B0000;
 top: 80px;
 left: 1000px;
 width:90px;
 height:30px;
 font-family: Times New Roman;
 font-size: 20px;
 padding: 1px 0px 1px 10px;
 text-decoration: none;
 color: white;
}


.Login {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.Login:target {
	opacity:1;
	pointer-events: auto;
}

.Login > div {
	width: 250px;

	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}



.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
.Login1 {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}


.Login1:target {
	opacity:1;
	pointer-events: auto;
}

.Login1 > div {
	width: 250px;
	height: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}



.close1 {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close1:hover { background: #00d9ff; }


.Moving
{
    position: relative;
    -webkit-animation: mymove 30s ; /* Chrome, Safari, Opera */
    animation: mymove 30s ;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {right: -2000px;}
    to {right: 1000px;}
}
@keyframes mymove {
    from {right: -2000px;}
    to {right: 1000px;}
}


.drop
{
	position: absolute;
	top: 90px;
	left: 655px
}
.drop>
ul {
text-align: left;
display: inline;
margin: 0;
padding: 15px 4px 17px 0;
list-style: none;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}
.drop> ul li {
font: bold 14px sans-serif;
color: white;
display: inline-block;
margin-right: -4px;
position: relative;
padding: 25px 40px;
background: #8B0000;
border-radius: 3px;
cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
transition: all 0.2s;
}
.drop >ul li:hover {
background: red;
color: #fff;
}
 .drop >ul li ul {
padding: 0;
position: absolute;
top: 60px;
left: 0;
width: 250px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
box-shadow: none;
display: none;
opacity: 0;
visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
.drop >ul li ul li { 
background: red; 
display: block; 
color: white;
text-shadow: 0 -1px 0 #000;
}
.drop >ul li ul li:hover { background: #666; }
ul li:hover ul {
display: block;
opacity: 1;
visibility: visible;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 0px;
}
.fileUploadinput.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
